.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: black;
    top: 102px;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    z-index: 2;
}

.btns span {
    font-size: 21px;
    color: white;
}
.btns button {
    height: 48px;
    width: 48px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #212121;
}

.btns button:hover {
    cursor: pointer;
}

.track {
    display: flex;
    width: 500px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 6px;
    position: sticky;
    top: 210px;
    overflow: hidden;
    outline: 1px solid rgba(0, 0, 0, 0.589);
    outline-offset: 4px;
}
.track:hover {
    cursor: pointer;
    border: 2px solid green;
}
.trackElem {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.track span {
    color: white;
}
.track img {
    border-radius: 5px;
}
.track audio {
    height: 30px;

    width: 400px;
}

.trackList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tracks {
    display: flex;
    flex-direction: column;
    align-items: center;

}