.details {
    color: white;
    background-color: #212121;
    position: fixed;
    width: 298px;
    top: 102px;
    right: 0px;
    z-index: 4;
    display: flex;
    justify-content: center;
    overflow: hidden;

}
.det {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.icon {
    border-radius: 10px;
    margin-bottom: 20px;
}

.det h1 {
    padding-bottom: 20px;
}

.likes {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    font-size: 18px;
    padding-top: 10px;
}
.likes img:hover {
    cursor: pointer;
}